.center {
  display: flex;
  align-items: center;
}

.button, a.button:focus {
  margin: 1rem;
  border: .5rem solid white;
  border-radius: 1.5rem;
  color: white;
  text-decoration: none;
}

.weirdCoolButton { 
  margin: 1rem;
  border: .5rem solid white;
  border-radius: 1.5rem;
  min-height: 4rem;
  color: white;
}

a.button:hover, a.button:active{
  text-decoration: none;
  border: .5rem solid rgb(72, 72, 72);
  color: rgb(72, 72, 72)
}

a.weirdCoolButton:hover, a.weirdCoolButton:active{
  text-decoration: none;
  border: .5rem solid rgb(72, 72, 72);
  color: rgb(72, 72, 72)
}

.text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-right: -1rem;
  color: inherit;
  padding: 1rem;
}

