.button {
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: .5rem solid white;
  border-radius: 1.5rem;
  min-height: 4rem;
}

a.button:hover{
  text-decoration: none;
}

.link {
  vertical-align: middle;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-right: -1rem;
  color: white;
  padding: 1rem;
}

