.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color:rgb(33, 33, 33);
}

@media all and (max-width: 478px){
  .header{
    height: 13rem;
  }
}

.contact {
  font-size: 3rem;
  font-weight: bold;
  line-height: 5rem;
  margin: 2rem;
  height: 5rem;
  width: 20rem;
}

.name {
  font-size: 4rem;
  font-weight: bold;  
  line-height: 5rem;
  margin: 2rem;
  height: 5rem;
  width: 30rem;
}

.routerLink {
  color: rgb(33, 33, 33);
}

.routerLink:hover{ 
  color: rgb(72, 72, 72);
}